@font-face {
    font-family: Chunkfive;
    src: url("/fonts/Chunkfive.otf") format("opentype");
}

body,
h1,
html,
p,
section
{
    font-family: Chunkfive, Arial, sans-serif;
    font-size: 5em;
}

section h1 {
    font-size: 0.5em !important;
}

section p {
    color: rgba(255, 255, 255, .7);
}
