.App {
    /* Show full screen. */
    display: flex;
    flex-flow: column;
    height: 100%;

    /* Prevent animations from creating scrollbars. */
    overflow: hidden;

    text-align: center;
}

.App section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    color: rgba(255, 255, 255, .7);
    font-size: 15em;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    -webkit-text-stroke: 2px rgba(50, 50, 50, .7);
}

.App .description {
    font-size: 0.1em;
}

p {
    margin: 0;
}
